@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f6fa;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.main {
  padding: 25px;
}
.section-padding {
  padding: 1rem;
}
.section-border-radius {
  border-radius: 10px;
}
.section-header {
  margin-bottom: 25px;
}
.clear-float {
  clear: both;
}
