<div class="boxContent">
    <div class="container">
        <a href="/add" class="btn btn-primary btn-sm">Add Data</a>
        <br>
        <br>

        <table class="table table-dark">
            <thead class="thead-dark">
                <th>ID</th>
                <th>Patient Name</th>
                <th>Care Taker Name</th>
                <th>Pill Name</th>
                <th>Care Taker Number</th>
                <th>Schedule Date</th>
                <th>Schedule Time</th>
                <th>Schedule Status</th>
                <th>Action</th>
            </thead>
          
        </table>
    </div>
</div>