<div class="boxContent">
    <form action="/writeSchedule" method="post">
        <div class="form-group">
          <div class = "form-group">
            <label for="Pill Name">Pill Name:</label>
            <input type="text" class="form-control" id="pillname" placeholder="Enter Pill Name" name="pillname" >
        </div>
        <div class = "form-group">
            <label for="Pill Name">Pill Description:</label>
            <input type="text" class="form-control" id="pilldesc" placeholder="Enter Pill Desc" name="pilldesc" >
        </div>
        <div class = "form-group">
            <label for="state">Date:</label>
            <input type="date" class="form-control" id="scheddate" placeholder="Enter Date" name="scheddate" >
        </div>
       
        <div class = "form-group">
            <label for="state">Time:</label>
            <input type="time" class="form-control" id="schedtime" placeholder="Enter Time" name="schedtime" >
        </div>
    
        <label for="repeat">Repeat for 7 Days</label><input type="checkbox" id="repeat" name="repeat" value="true"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</div>