<div class="boxContent">
    <form action="/writeTest" method="post">
        <div class="form-group">
          <label>SMS Alert: Immediate</label>
          <br>
          <br>
          <label>Note: Running this test will set an alarm and send an SMS after 1 min</label>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Run Test</button>
        </div>
      </form>
</div>