<div class="boxContent">
    <form action="/writeTest" method="post">
        <div class="form-group">
          <label for="exampleFormControlSelect2">Select a test to run</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Audio Alert</option>
            <option>Visual Alert</option>
            <option>SMS Alert: Immediate</option>
            <option>Enable Unlock</option>
          </select>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Run Test</button>
        </div>
      </form>
</div>