<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>

    <!-- Mes styles-->
    <link rel="stylesheet" href="mainstyle.css">
</head>

<body>

    <!-- My Side Barre -->
    <%- include('sidebar') %>

    <!-- My Main Content -->
    <%- include('userview') %>
        <!-- My Box Content -->
        <%- include('content/content-dashboard') %>
        
    </div>

</body>

</html>