<div class="sideBarre">
    <div class="sideBarre__logo">
        <div class="sideBarre__cercle">

        </div>
        <h1>MedSched</h1>
    </div>
    <div class="sideBarre__menu">
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/tests">Run Tests</a></li>
            <li><a href="/calendar">View Calender</a></li>
            <li><a href="/mqtt">MQTT Logs</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </div>
</div>